<div class="container mt-5">
  <div id="<%= dom_id course %>">
    <p>
      <strong>Title:</strong>
      <%= course.title %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= course.location %>
    </p>

    <p>
      <strong>Lecturer:</strong>
      <%= course.lecturer %>
    </p>

    <p>
      <strong>Start time:</strong>
      <%= course.start_time %>
    </p>

    <p>
      <strong>End time:</strong>
      <%= course.end_time %>
    </p>

    <p>
      <strong>Lecturer index:</strong>
      <%= course.lecturer_index %>
    </p>

  </div>
</div>