<div class="container mt-5">
  <p style="color: green"><%= notice %></p>

  <%= render @course %>

  <div>
    <%= link_to "Edit", edit_course_path(@course) %> |
    <%= link_to "Back", courses_path %>
    <%= button_to "Delete", @course, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
